<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/sunset_home.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>Hola, soy</h1>
            <h3>Roddy Arana Ruiz</h3>
            <br/>
            <button (click)="goToLink('./assets/img/HojadeVida_RoddyArana.pdf')" type="button"
                    class="btn btn-outline-neutral btn-round">Hoja de vida</button>
        </div>
    </div>
</div>
<div class="main">
    <div class="section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title">Ingeniero en sistemas computacionales</h2>
                    <h5 class="description">Ecuatoriano, graduado en la Universidad de Guayaquil con más de seis años
                        de experiencia en desarrollo frontend, backend y móvil.</h5>
                    <br>
                </div>
            </div>
            <br/>

            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title">Conocimientos técnicos</h2>
                </div>
            </div>

            <div class="container">
                <owl-carousel-o [options]="customOptions">
                    <ng-template carouselSlide class="col-md-3">
                        <div class="info">
                            <div class="icon icon-success">
                                <i class="nc-icon nc-spaceship"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Lenguajes de programación</h4>
                                <p class="description">Java (versions 6, 7, 8), Python 3 (básico).</p>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide class="col-md-3">
                        <div class="info">
                            <div class="icon icon-success">
                                <i class="nc-icon nc-key-25"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Java</h4>
                                <p class="description">Spring Boot, Hibernate, Maven, JAX-WS, JAX-RS, Project Reactor.</p>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide class="col-md-3">
                        <div class="info">
                            <div class="icon icon-success">
                                <i class="nc-icon nc-box-2"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Bases de Datos</h4>
                                <p>SGBDR (PostgreSQL, Oracle, Sql Server, MySQL), NoSQL (MongoDB).</p>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide class="col-md-3">
                        <div class="info">
                            <div class="icon icon-success">
                                <i class="nc-icon nc-html5"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Desarrollo Web</h4>
                                <p>JSF, Javascript, Typescript, HTML5, Angular, Bootstrap, Css, UX.</p>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide class="col-md-3">
                        <div class="info">
                            <div class="icon icon-success">
                                <i class="nc-icon nc-mobile"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Desarrollo Móvil</h4>
                                <p>Android Nativo, IONIC.</p>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide class="col-md-3">
                        <div class="info">
                            <div class="icon icon-success">
                                <i class="nc-icon nc-refresh-69"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Control de versiones</h4>
                                <p>Git, Subversion, Bitbucket.</p>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide class="col-md-3">
                        <div class="info">
                            <div class="icon icon-success">
                                <i class="nc-icon nc-bullet-list-67"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Administración de tareas</h4>
                                <p>Jira, Mantis.</p>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide class="col-md-3">
                        <div class="info">
                            <div class="icon icon-success">
                                <i class="nc-icon nc-settings-gear-65"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Metodologías y buenas prácticas</h4>
                                <p>SCRUM, Desarrollo ágil, Patrones de diseño, Solid, DDD.</p>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide class="col-md-3">
                        <div class="info">
                            <div class="icon icon-success">
                                <i class="nc-icon nc-sun-fog-29"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Habilidades</h4>
                                <p>Facilidades de comunicación verbal y escrita, Rápida asimilación de conocimientos,
                                    Autoaprendizaje, Adaptabilidad.</p>
                            </div>
                        </div>
                    </ng-template>
                </owl-carousel-o>
            </div>

        </div>
    </div>

    <div class="section section-gray text-center">
        <div class="container">
            <h2 class="title">Experiencia laboral</h2>

            <div class="container">
                <owl-carousel-o [options]="customOptions">
                    <ng-template carouselSlide class="col-md-3">
                        <div class="card card-profile card-plain">
                            <div class="card-avatar">
                                <a href="#avatar"><img src="./assets/img/faces/rgt.jpg" alt="..."></a>
                            </div>
                            <div class="card-block">
                                <a href="#paper-kit">
                                    <div class="author">
                                        <h4 class="card-title">RIGHTTEK</h4>
                                        <h6 class="card-category">Ingeniero de Proyectos</h6>
                                    </div>
                                </a>
                                <p class="card-description text-center">
                                    <strong>Proyectos:</strong> Fleet Management, control de transporte de carga pesada,
                                    SAIR Sistema de Administración de Informes y Recomendaciones,
                                    PAC (turnero) Eléctrica de Guayaquil.
                                </p>
                            </div>
                            <div class="card-footer text-center">
                                <a href="http://www.righttek.com/inicio/rgt" target="_blank"
                                   class="btn btn-link btn-just-icon btn-primary">
                                    <i class="fa fa-home"></i></a>
                                <a href="https://www.linkedin.com/company/righttek/" target="_blank"
                                   class="btn btn-link btn-just-icon btn-primary">
                                    <i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide class="col-md-3">
                        <div class="card card-profile card-plain">
                            <div class="card-avatar">
                                <a href="#avatar"><img src="./assets/img/faces/ltn.jpg" alt="..."></a>
                            </div>
                            <div class="card-block">
                                <a href="#paper-kit">
                                    <div class="author">
                                        <h4 class="card-title">LATINUS</h4>
                                        <h6 class="card-category">Analista desarrollador</h6>
                                    </div>
                                </a>
                                <p class="card-description text-center">
                                    <strong>Proyectos:</strong> Agencia de Regulación y Control Minero ARCOM
                                    automatización de procesos.
                                </p>
                            </div>
                            <div class="card-footer text-center">
                                <a href="https://www.latinus.net/" target="_blank"
                                   class="btn btn-link btn-just-icon btn-primary">
                                    <i class="fa fa-home"></i></a>
                                <a href="https://www.linkedin.com/company/latinus/" target="_blank"
                                   class="btn btn-link btn-just-icon btn-primary">
                                    <i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide class="col-md-3">
                        <div class="card card-profile card-plain">
                            <div class="card-avatar">
                                <a href="#avatar"><img src="./assets/img/faces/etech.jpg" alt="..."></a>
                            </div>
                            <div class="card-block">
                                <a href="#paper-kit">
                                    <div class="author">
                                        <h4 class="card-title">E-Technology</h4>
                                        <h6 class="card-category">Analista desarrollador</h6>
                                    </div>
                                </a>
                                <p class="card-description text-center">
                                    <strong>Proyectos:</strong> ERP MyBusinessWeb, My Dealer.
                                </p>
                            </div>
                            <div class="card-footer text-center">
                                <a href="http://www.e-technology.com.ec" target="_blank"
                                   class="btn btn-link btn-just-icon btn-primary">
                                    <i class="fa fa-home"></i></a>
                                <a href="https://www.linkedin.com/company/e-technology-ecuador/" target="_blank"
                                   class="btn btn-link btn-just-icon btn-primary">
                                    <i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide class="col-md-3">
                        <div class="card card-profile card-plain">
                            <div class="card-avatar">
                                <a href="#avatar"><img src="./assets/img/faces/mies.jpg" alt="..."></a>
                            </div>
                            <div class="card-block">
                                <a href="#paper-kit">
                                    <div class="author">
                                        <h4 class="card-title">Ministerio de Inclusión Económica y Social</h4>
                                        <h6 class="card-category">Analista – Coordinador Interinstitucional de
                                            Infodigital</h6>
                                    </div>
                                </a>
                                <p class="card-description text-center">
                                    <strong>Proyectos:</strong> ETL de datos de víctimas de terremoto en Ecuador en el
                                    año 2016 SIIMIES, SIIMIES-RRHH, Automatización BJGL.
                                </p>
                            </div>
                            <div class="card-footer text-center">
                                <a href="https://www.inclusion.gob.ec/" target="_blank"
                                   class="btn btn-link btn-just-icon btn-primary">
                                    <i class="fa fa-home"></i></a>
                                <a href="https://www.linkedin.com/company/mies/about/" target="_blank"
                                   class="btn btn-link btn-just-icon btn-primary">
                                    <i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide class="col-md-3">
                        <div class="card card-profile card-plain">
                            <div class="card-avatar">
                                <a href="#avatar"><img src="./assets/img/faces/llcs.jpg" alt="..."></a>
                            </div>
                            <div class="card-block">
                                <a href="#paper-kit">
                                    <div class="author">
                                        <h4 class="card-title">LLACSAA</h4>
                                        <h6 class="card-category">Analista – Desarrollador de software</h6>
                                    </div>
                                </a>
                                <p class="card-description text-center">
                                    <strong>Proyectos:</strong> Almacenes Flamingo: OMNIA (Mantenimiento), Canales Alternativos (Telefiao),
                                    Ley 1581, Servicios SAFIX, Soporte PDA - Infotrack.
                                </p>
                            </div>
                            <div class="card-footer text-center">
                                <a href="https://llacsaa.com/" target="_blank"
                                   class="btn btn-link btn-just-icon btn-primary">
                                    <i class="fa fa-home"></i></a>
                                <a href="https://www.linkedin.com/company/llacsaa/" target="_blank"
                                   class="btn btn-link btn-just-icon btn-primary">
                                    <i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide class="col-md-3">
                        <div class="card card-profile card-plain">
                            <div class="card-avatar">
                                <a href="#avatar"><img src="./assets/img/faces/rcd.jpg" alt="..."></a>
                            </div>
                            <div class="card-block">
                                <a href="#paper-kit">
                                    <div class="author">
                                        <h4 class="card-title">Redcode Integrations</h4>
                                        <h6 class="card-category">Analista – Arquitecto móvil</h6>
                                    </div>
                                </a>
                                <p class="card-description text-center">
                                    <strong>Proyectos:</strong> HAIPS, Wristp.
                                </p>
                            </div>
                            <div class="card-footer text-center">
                                <a href="http://www.redcode.net.ec/" target="_blank"
                                   class="btn btn-link btn-just-icon btn-primary">
                                    <i class="fa fa-home"></i></a>
                                <a href="https://www.linkedin.com/company/redcode-integrations-cia-ltda/" target="_blank"
                                   class="btn btn-link btn-just-icon btn-primary">
                                    <i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </ng-template>
                </owl-carousel-o>
            </div>
        </div>
    </div>

    <div class="section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title">Referencias laborales y personales</h2>
                </div>
            </div>
            <br/><br/>
            <div class="row">
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-success">
                            <i class="nc-icon nc-album-2"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Mónica Zapata Gutierrez</h4>
                            <p class="description">Almacenes Flamingo</p>
                            <p class="description"> <strong>E-mail:</strong> monica.zapatag@flamingo.com.co</p>
                            <p class="description"> <strong>Celular:</strong> 3113571745</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-success">
                            <i class="nc-icon nc-bulb-63"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Eduardo Cruz Ramírez</h4>
                            <p class="description">Latinus</p>
                            <p class="description"> <strong>E-mail:</strong> eduardo.cruz@latinus.net</p>
                            <p class="description"> <strong>Celular:</strong> +593 990415171</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-success">
                            <i class="nc-icon nc-chart-bar-32"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Juan Mora Castrillon</h4>
                            <p class="description">Almacenes Flamingo</p>
                            <p class="description"> <strong>E-mail:</strong> jmorac@mefia.com.co</p>
                            <p class="description"> <strong>Celular:</strong> 3007828652</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-success">
                            <i class="nc-icon nc-sun-fog-29"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Mauricio Chilan Macías</h4>
                            <p class="description">Redcode Integrations</p>
                            <p class="description"> <strong>E-mail:</strong> mauricio.chilan@redcode.net.ec</p>
                            <p class="description"> <strong>Celular:</strong> +593 981950430</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="section section-gray text-center">
        <div class="container">
            <h2 class="title">Portafolio</h2>
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                    <ngb-tabset [justify]="'center'">
                        <ngb-tab title="Aplicaciones">
                            <ng-template ngbTabContent >
                                <div class="row following" id="follows">
                                    <div class="col-md-6 ml-auto mr-auto">
                                        <ul class="list-unstyled follows">
                                            <li>
                                                <div (click)="goToLink('https://paper-profile-admin.herokuapp.com')" class="row">
                                                    <div class="col-md-1 col-sm-1 ml-auto mr-auto">
                                                        <img src="./assets/img/faces/angular.jpg" alt="Circle Image"
                                                             class="img-circle img-no-padding img-responsive">
                                                    </div>
                                                    <div class="col-md-1 col-sm-1 ml-auto mr-auto">
                                                        <h6>Angular<br/><small>Admin Dashboard</small></h6>
                                                    </div>
                                                </div>
                                            </li>
                                            <hr/>
                                            <li>
                                                <div class="row">
                                                    <div class="col-md-1 col-sm-1 ml-auto mr-auto">
                                                        <img src="./assets/img/faces/java.jpg" alt="Circle Image"
                                                             class="img-circle img-no-padding img-responsive">
                                                    </div>
                                                    <div class="col-md-1 col-sm-1 ml-auto mr-auto">
                                                        <h6>Java<br /><small>Webservices - Crud</small></h6>
                                                    </div>
                                                </div>
                                            </li>
                                            <hr/>
                                            <li>
                                                <div (click)="goToLink('https://simple-ml-web.herokuapp.com')" class="row">
                                                    <div class="col-md-1 col-sm-1 ml-auto mr-auto">
                                                        <img src="./assets/img/faces/python.jpg" alt="Circle Image"
                                                             class="img-circle img-no-padding img-responsive">
                                                    </div>
                                                    <div class="col-md-1 col-sm-1 ml-auto mr-auto">
                                                        <h6>Python<br /><small>Simple Machine Learning</small></h6>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Repositorio">
                            <ng-template ngbTabContent>
                                <h3 class="text-muted">Repositorio GitHub</h3>
                                <br>
                                <button (click)="goToLink('https://github.com/Roddyar')"
                                        class="btn btn-warning btn-round">Ir a repo</button>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
            </div>
        </div>
    </div>

</div>
